.cat{
    margin-left: 100px;
}
.caat{
    margin-left: 70px;
}
.supportcon{
    background-image: url("https://images.pexels.com/photos/5453909/pexels-photo-5453909.jpeg?auto=compress&cs=tinysrgb&w=600");
    object-fit: contain;
    padding: 150px;


}